#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    background-color: #fff;
    padding: 0.8rem;
    color: #32312b;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 2px #f2a273;
}

table {
    width: 540px;
    /* border-collapse: collapse; */
    margin-top: 20px;
    box-shadow: 2px 2px 2px #f2a273;
    border-radius: 20px; /* 테이블의 양 끝을 둥글게 만들기 */
    overflow: hidden; /* 테이블에서 넘치는 부분 감추기 */
}

th,
td {
    /* border: 2px solid #ddd; */
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ffeea4;
}

td {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #ddd;
}

.btn button {
    width: 6rem;
    height: 2.2rem;
    margin-top: 6px;
    background-color: #ffff6c;
    box-shadow: 2px 2px 2px #f2a273;
    margin-right: 14px;
}
