.sort_wrap {
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fbd784, #faab7b);
  background-color: #242424;

  h1 {
    background-color: #fff;
    padding: 0.8rem;
    color: #32312b;
    border-radius: 1.5rem;
    width: 540px;
    text-align: center;
    box-shadow: 2px 2px 2px #f2a273;
    font-size: 1.2em;
    line-height: 1.1;
  }

  table {
    width: 540px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px #f2a273;
    border-radius: 20px; /* 테이블의 양 끝을 둥글게 만들기 */
    overflow: hidden; /* 테이블에서 넘치는 부분 감추기 */
  }

  th,
  td {
    /* border: 2px solid #ddd; */
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #ffeea4;
  }

  td {
    background-color: #fff;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tbody tr:hover {
    background-color: #ddd;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    line-height: 1.1;
    font-weight: 500;
    cursor: pointer;
  }

  .btn button {
    width: 6rem;
    height: 2.2rem;
    margin-top: 6px;
    color: #242424;
    box-shadow: 2px 2px 2px #f2a273;
    margin-right: 14px;
  }

  .btn .active {
    font-weight: 700;
    background-color: #f6b23c;
    box-shadow: inset 1px 1px rgba(1, 2, 2, 0.1);
  }
}
