.sort_wrap {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background: linear-gradient(135deg, #fbd784, #faab7b);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    body {
        margin: 0;
        display: flex;
        place-items: center;
        min-width: 320px;
        min-height: 100vh;
    }

    h1 {
        font-size: 1.2em;
        line-height: 1.1;
    }

    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(135deg, #fbd784, #faab7b);

    h1 {
        background-color: #fff;
        padding: 0.8rem;
        color: #32312b;
        border-radius: 1.5rem;
        box-shadow: 2px 2px 2px #f2a273;
    }

    table {
        width: 540px;
        /* border-collapse: collapse; */
        margin-top: 20px;
        box-shadow: 2px 2px 2px #f2a273;
        border-radius: 20px; /* 테이블의 양 끝을 둥글게 만들기 */
        overflow: hidden; /* 테이블에서 넘치는 부분 감추기 */
    }

    th,
    td {
        /* border: 2px solid #ddd; */
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #ffeea4;
    }

    td {
        background-color: #fff;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tbody tr:hover {
        background-color: #ddd;
    }

    .btn button {
        width: 6rem;
        height: 2.2rem;
        margin-top: 6px;
        background-color: #fffa6c;
        box-shadow: 2px 2px 2px #f2a273;
        margin-right: 14px;
        border-radius: 8px;
        border: 1px solid transparent;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        cursor: pointer;
    }

    .btn .active {
        background-color: #fffa6c;
        box-shadow: inset 1px 1px rgba(1, 2, 2, 0.1);
    }
}
